#meni{
    width: 30%;
}
#meni a{
    border: 1px solid orangered;
    text-decoration: none;
    font-size: 22px;
    color: orangered;
}
#sadrzaj{
    margin-top: 2%;
    border: 1px solid orangered;
    visibility: hidden;
    width: 15%;
    font-size: 20px;
    text-align: center;
}